input[type="file"] {
  display: none;
}

input[type="text"] {
  background-color: antiquewhite;
  color: aliceblue;
}
.attachment {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.completed {
  margin: 20px;
}
