[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beatserver = "*"
channels = "*"
channels-redis = "*"
cuid = "*"
Django = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-heroku = "*"
djangorestframework = "*"
djoser = "*"
gunicorn = "*"
Pillow = "*"
psycopg2 = "*"
pyjwkest = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-pylibmc = "*"
Hypercorn = "*"
uvicorn = "*"
brotli = "*"
cchardet = "*"
aiodns = "*"

[dev-packages]
django-coverage-plugin = "*"
django-extensions = "*"
isort = "*"
lark = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-emoji = "*"
black = "*"
pytest-clarity = "*"
pytest-xdist = "*"
vsot = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
pytest-watch = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages.aiohttp]
extras = [ "speedups",]

[packages.whitenoise]
extras = [ "brotli",]

[packages.celery]
extras = [ "redis", "couchdb", "librabbitmq", "mongodb",]

[dev-packages.coverage]
extras = [ "toml",]
